{% extends "layout.html" %}
{% block body %}
<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          </div>
        </div>
      </div>
  </header>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('a#Ping').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_ping_nodes', {
        a: $('td[name="a"]').val(),
           }, function(data) {

            var str=data.result;
            var arr=str.split("/")
            var alen=arr.length;

        // $("#result").text(data.result);

<!--Actual Code Starts-->
            var table=document.getElementById("MainTable");
            var x=0;
            for(var i=1;i<alen;i++)
            {
                var temp=arr[x];
                var rows=temp.split(" ");

                var row=table.insertRow(-1);
                var cell1=row.insertCell(0);
                var cell2=row.insertCell(1);
                var cell3=row.insertCell(2);

                cell1.innerHTML=rows[0];
                cell2.innerHTML=rows[1];
                cell3.innerHTML=rows[2];


                var x=x+1;


            }
      });
      return false;
    });
  });
</script>

<script type=text/javascript>
  $(function() {
    $('a#Pingsouth').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_ping_south', {
        a: $('td[name="a"]').val(),
           }, function(data) {

            var str=data.deptinfo;
            var arr=str.split("/")
            var alen=arr.length;


<!--Actual Code Starts-->
            var table=document.getElementById("MainTable");
            var x=0;
            for(var i=1;i<alen;i++)
            {
                var temp=arr[x];
                var rows=temp.split(" ");

                var row=table.insertRow(-1);
                var cell1=row.insertCell(0);
                var cell2=row.insertCell(1);
                var cell3=row.insertCell(2);

                if (rows[2]=="Active") {
                    cell1.innerHTML=rows[0].fontcolor("green").bold();
                    cell2.innerHTML=rows[1].fontcolor("green").bold();
                    cell3.innerHTML=rows[2].fontcolor("green").bold();
                } else {
                    cell1.innerHTML=rows[0].fontcolor("red").bold();
                    cell2.innerHTML=rows[1].fontcolor("red").bold();
                    cell3.innerHTML=rows[2].fontcolor("red").bold();
                }


                var x=x+1;


            }
      });
      return false;
    });
  });
</script>

<!--Actual Code Ends-->

<form>

      <div class="container" align="left">
      <p><a href=# type=submit class="btn btn-primary" id=Ping>Ping North Side</a> <br><br>
         <a href=# type=submit class="btn btn-primary" id=Pingsouth>Ping South Side</a>&nbsp;<br><br>
         <a href="/searc" type=submit class="btn btn-primary" id=search>Search</a><br><br>
         <a href="/mapp" type=submit class="btn btn-primary" id=map>Map</a></p>
      </div>

    <!--<p> <label for='a' > Enter IP Address's Below:</label></p>-->
       <!-- <div class="col-lg-8 col-md-10 mx-auto">
      <labe Get result:</label><br> -->

        <!-- <textarea type=text name=a placeholder="enter IP"></textarea> =-->

        <!-- <textarea type=text  name=result class="form-control" id= result placeholder="get result"></textarea> -->


       </div>
  <div class="container" align="center">
       <table border="1" width="80%" align="center" id="MainTable">
             <tr>
               <th style="text-align:center"> Department Name</th>
               <th style="text-align:center"> IP Address</th>
               <th style="text-align:center"> Status</th>
             </tr>
       </table >


  </div>
    <br>
        <br>
        <br>

</form>


{% endblock %}