{% extends "menu_bar.html" %}
{% block body %}

<html>
<head>
  <style type="text/css">

    
  </style>

</head>
    <title>PING NORTH SIDE</title>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>


<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script type=text/javascript>
  $(function() {
    $('a#Pingn').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_ping_nodes', {
        a: $('td[name="a"]').val(),
           }, function(data) {

            var str=data.result;
            var arr=str.split("/")
            var alen=arr.length;

        // $("#result").text(data.result);

<!--Actual Code Starts-->
            var table=document.getElementById("MainTable");
            var x=0;
            for(var i=1;i<alen;i++)
            {
                var temp=arr[x];
                var rows=temp.split(" ");

                var row=table.insertRow(-1);
                var cell1=row.insertCell(0);
                var cell2=row.insertCell(1);
                var cell3=row.insertCell(2);


                if (rows[2]=="Active") {
                    cell1.innerHTML=rows[0].fontcolor("green").bold();
                    cell2.innerHTML=rows[1].fontcolor("green").bold();
                    cell3.innerHTML=rows[2].fontcolor("green").bold();
                }
<!--                else if (rows[2]=="Destination_net_unreachable") {-->
<!--                    cell1.innerHTML=rows[0].fontcolor("orange").bold();-->
<!--                    cell2.innerHTML=rows[1].fontcolor("orange").bold();-->
<!--                    cell3.innerHTML=rows[2].fontcolor("orange").bold();-->
<!--                } -->

                else {
                    cell1.innerHTML=rows[0].fontcolor("red").bold();
                    cell2.innerHTML=rows[1].fontcolor("red").bold();
                    cell3.innerHTML=rows[2].fontcolor("red").bold();
                }


                var x=x+1;


            }
      });
      return false;
    });
  });
</script>

<script type="text/javascript">
	function refreshPage(){
<!--		if(confirm("Are you sure, want to refresh?")){-->
<!--			location.reload();-->
<!--		}-->
	}
</script>

<form>
<!--<div  style="float: right; margin-right: 50px; border: 1px solid black ">-->
    <div align="right" style="width: 97%; ">
        <a href="#"><img src="{{ url_for('static', filename='img/pdficon.jpg') }}" width="40" height="40" id="btnExport" ></a>
    </div>

    <div class="head" align="center" style="color:Black;">
    <h1>Check North Side Network Status</h1>
    </div>

    <div align="center" style=" margin-bottom: 25px; ">
<!--      <div align="center">-->
       <a href='#' type=submit id=Pingn style=""><button class="btn">Click Here</button></a>&nbsp;&nbsp;
        <button onclick='refreshPage()'>&#8635; refresh</button>
    </div>



  <div align="center" >
       <table border="1" width="60%" align="center" id="MainTable" style="text-align:center;" >
             <tr>
               <th style="text-align:center"> Department Name</th>
               <th style="text-align:center"> IP Address</th>
               <th style="text-align:center"> Status</th>
             </tr>
       </table >

  </div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>



<script type="text/javascript">
        $("body").on("click", "#btnExport", function () {
            html2canvas($('#MainTable')[0], {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("North Side Report.pdf");
                }
            });
        });
    </script>

    <br>
        <br>
        <br>

</form>
</html>

{% endblock %}